@{
    Layout = ModelBasic.PageModel.GetLayout();
}

@using WeiCode.Utility;
@using WeiCode.DataBase;
@using WeiCode.Services;
@using WeiCode.ModelDbs;
@using WeiCode.Domain;
@using Services.Project;
@using WeiCode.Models;
<link rel="stylesheet" href="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/css/layui.css" media="all">
<link rel="stylesheet" href="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/css/global.css" media="all">

<script type="text/javascript" src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/jquery/jquery.js"></script>
<script type="text/javascript" src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/layui.js"></script>
<script src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/common.2.0.js"></script>

<div class="layui-card">
    @{
        ModelDbBasic.user_base user_base = new DomainBasic.UserApp().GetInfoByUserSn(ViewBag.tg_user_sn);
    }
    <p>请输入抖音平台的账号id</p>
    @ViewModelBag.Load(Html, new ModelBasic.EmtInput("account_id")
    {
        defaultValue = user_base.attach3,
        placeholder = "请输入id号",
    })
    <a id="btn" href="javascript:ToExcel();" class="layui-btn layui-btn-normal">导出数据</a>
</div>

<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script>
    layui.use(function () {
        var form = layui.form;
        var layer = layui.layer;
    });

    function ToExcel() {
        location.href = '/zhenduan/analyse/ExportToExcel?account_id=' + $('[name="account_id"]').val();
    }

    function ExportInfo(excelname) {
        $.ajax({
            type: "POST",
            url: "/Zhenduan/Analyse/ExportToExcel",
            data: { account_id: $('[name="account_id"]').val()},
            async: false,
            dataType: 'json',
            success: function (res) {
                if (res.code == 0) {
                    layer.msg('提交成功', { icon: 1 }, function () {
                    });
                    $('#btn').attr('class', 'layui-btn layui-btn-disabled');
                    exportToExcel(res.data, excelname);
                } else {
                    layer.msg('获取数据失败', { icon: 2 }, function () {
                    });
                }
            },
            Error: function (res) {
                layer.msg('提交异常', { icon: 3 }, function () {
                });
            }
        });
    }

    function exportToExcel(data, fileName) {
        // 创建一个工作簿
        const wb = XLSX.utils.book_new();
        // 将数据转换为工作表
        const ws = XLSX.utils.json_to_sheet(data);
        // 将工作表添加到工作簿中
        XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
        // 生成Excel文件并触发下载
        XLSX.writeFile(wb, fileName + ".xlsx");
    }

</script>