
@using WeiCode.Utility;
@using WeiCode.DataBase;
@using WeiCode.Services;

@using WeiCode.Domain;
@using WeiCode.Models;
@using WeiCode.ModelDbs;
@using Services.Project;


<!-- 页面通用母版 -->
@{
    Layout = ModelBasic.PageModel.GetLayout();
    var roles = new DomainBasic.DictionaryApp().GetListForOption("档位角色");
    var dangs = new DomainBasic.DictionaryApp().GetListForOption("档位时段");

    var user_bases = new DomainUserBasic.UserRelationApp().GetNextUsers(ModelEnum.UserRelationTypeEnum.厅管邀主播, new UserIdentityBag().user_sn);
}
<style>
    .layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r,
    .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main,
    .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
        border-collapse: collapse;
        border-style: solid;
        border-width: 1px;
        border-color: gray;
    }

    .layui-table th {
        text-align: center;
        font-weight: 700;
        font-size: 15px;
    }

    .layui-table td {
        font-size: 15px;
    }
</style>
<!-- 以下书写自己的页面内容代码 -->
<form class="layui-form">
    <div class="layui-row">
        <div class="layui-col-md8" style="text-align:right">
            <div class="layui-inline">
                <label class="layui-input-inline" style="font-size:18px; font-weight:bold">@Html.Raw(new UserIdentityBag().username)&nbsp;&nbsp;档表</label>


                <div class="layui-input-inline" style="">
                    @ViewModelBag.Load(Html, new ModelBasic.EmtTimeSelect("c_date")
                    {
                       mold = WeiCode.Models.ModelBasic.EmtTimeSelect.Mold.date_range,
                       placeholder = "选择日期",
                    })


                </div>

                <div class="layui-input-inline" style="width:500px;">

                    @ViewModelBag.Load(Html, new ModelBasic.EmtInput("note")
                    {
                       title = "备注",
                       placeholder = "备注",
                    })
                </div>
            </div>
        </div>
        <div class="layui-col-md1" style="text-align:right">
            <button type="button" class="layui-btn layui-btn-normal btn-submit">保存档表</button>
        </div>

        <div class="layui-col-md1" style="text-align:right">
            <a href="/jixiao/Dangbiao/AddTableByTemplate" class="layui-btn layui-btn-normal">从模板新建</a>
        </div>


    </div>

    <div class="layui-row">
        <div class="layui-col-md10">
            <table class="layui-table" style="width:100%;">
                <tr style="background-color: #FCE4D3">
                    <td style="width: 75px; text-align: center">档位</td>
                    <td style="width: 90px; text-align: center">时间</td>

                    @foreach (var items in roles)
                    {
                        if (items.Key == "挂1")
                        {
                            <td style="text-align:center">
                                <select lay-ignore style="border: 0; background-color: #FCE4D3; color: #666666; font-size: 16px; text-align: center; width: 100% " name="dang_wei_role">
                                    <option value="挂1">挂1</option>
                                    <option value="陪">陪</option>
                                </select>
                            </td>
                        }
                        else
                        {
                            <td style="text-align:center">@items.Key</td>
                        }
                    }
                </tr>
                @{
                    int i = -1;
                    string color = "#E3F2D9";
                    foreach (var item in dangs)
                    {
                        if (color == "#E3F2D9")
                        {
                            color = "#E1EBF5";
                        }
                        else
                        {
                            color = "#E3F2D9";
                        }
                        for (var _i = 1; _i <= 3; _i++)
                        {
                            int zfp_i = 0;
                            string zfp_class = "";
                            i++;
                            <tr style="background-color: @color ">
                                @if (_i == 1)
                                {
                                    <td rowspan="3" style="text-align: center; background-color: #FCE4D3"> @item.Key</td>
                                }
                                @{var time_text = i + ":00-" + (i + 1) + ":00";}
                                <td style="text-align:center">@time_text</td>
                                @foreach (var _item in roles)
                                {
                                    zfp_i++;
                                    if (zfp_i < 4)
                                    {
                                        zfp_class = "zb_zfp";
                                    }
                                    else
                                    {
                                        zfp_class = "zb_gw";
                                    }
                                    <td style="background-color:#ff0000">
                                        <select lay-ignore style="border: 0; color: #666666; font-size: 16px; background-color: @color;text-align:center;width:100%" name="zb_@i" class="zb_@(item.Value)_@(_i)_@(_item.Value) zb_@i @zfp_class" onchange="countZbNum()">
                                            <option value=""></option>
                                            @foreach (var __item in user_bases)
                                            {
                                                <option value="@__item.user_sn">@__item.name</option>
                                            }
                                        </select>
                                    </td>
                                }

                            </tr>
                        }
                    }
                }
            </table>
        </div>
        <div class="layui-col-md2" style="padding:10px;">
            <div style="font-size: 16px; padding: 10px;">主副陪角色轮流分配</div>
            <select id="zfp_dang">
                @foreach (var __item in dangs)
                {
                    <option value="@__item.Value">@__item.Key</option>
                }
            </select>
            <br />
            <select id="zfp_zb1">
                <option value="">选择主播</option>
                @foreach (var __item in user_bases)
                {
                    <option value="@__item.user_sn">@__item.name</option>
                }
            </select>
            <br />
            <select id="zfp_zb2">
                <option value="">选择主播</option>
                @foreach (var __item in user_bases)
                {
                    <option value="@__item.user_sn">@__item.name</option>
                }
            </select>
            <br />
            <select id="zfp_zb3">
                <option value="">选择主播</option>
                @foreach (var __item in user_bases)
                {
                    <option value="@__item.user_sn">@__item.name</option>
                }
            </select>
            <br />
            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="setZFP()">批量设置</button>
            <hr />
            <div style="font-size: 16px; padding: 10px;">挂位角色批量设置</div>
            @ViewModelBag.Load(Html, new ModelBasic.EmtExt.XmSelect("gw_dangs")
            {
                bindOptions = new DomainBasic.DictionaryApp().GetListForOption(ModelEnum.DictCategory.档位时段)
            })
            <br />
            <select id="gw_role_1">
                <option value="">选择角色</option>
                @foreach (var __item in roles)
                {
                    if (__item.Value.ToInt() < 4)
                    {
                        continue;
                    }
                    <option value="@__item.Value">@__item.Key</option>
                }
            </select>
            <br />
            <select id="gw_zb1">
                <option value="">选择主播</option>
                @foreach (var __item in user_bases)
                {
                    <option value="@__item.user_sn">@__item.name</option>
                }
            </select>
            <br />
            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="setGW()">批量设置</button>

            <table class="layui-table" style="width:100%;">
                <tr>
                    <th style="width: 40%">主播</th>
                    <th style="width: 30%">主副陪(小时)</th>
                    <th style="width: 30%">挂位(小时)</th>
                </tr>
                @foreach (var __item in user_bases)
                {
                    <tr>
                        <td>@__item.name</td>
                        <td id="zfp_@(__item.user_sn)" class="num">0</td>
                        <td id="gw_@(__item.user_sn)" class="num">0</td>
                    </tr>
                }
            </table>
            <hr />

        </div>
        <div class="layui-col-md12" style="padding:10px;">
            <div style="font-size: 16px; padding: 10px;">每档备注</div>
            <div class="layui-col-md3">
                @ViewModelBag.Load(Html, new ModelBasic.EmtInput("memo_1")
                {
                    title = "第一档备注",
                    placeholder = "第一档备注",
                })
            </div>
            <div class="layui-col-md3">
                @ViewModelBag.Load(Html, new ModelBasic.EmtInput("memo_2")
                {
                    title = "第二档备注",
                    placeholder = "第二档备注",
                })
            </div>
            <div class="layui-col-md3">
                @ViewModelBag.Load(Html, new ModelBasic.EmtInput("memo_3")
                {
                    title = "第三档备注",
                    placeholder = "第三档备注",
                })
            </div>
            <div class="layui-col-md3">
                @ViewModelBag.Load(Html, new ModelBasic.EmtInput("memo_4")
                {
                    title = "第四档备注",
                    placeholder = "第四档备注",
                })
            </div>

        </div>
        <div class="layui-col-md12" style="padding:10px;">
            <br />
            <div class="layui-col-md3">
                @ViewModelBag.Load(Html, new ModelBasic.EmtInput("memo_5")
                {
                    title = "第五档备注",
                    placeholder = "第五档备注",
                })
            </div>
            <div class="layui-col-md3">
                @ViewModelBag.Load(Html, new ModelBasic.EmtInput("memo_6")
                {
                    title = "第六档备注",
                    placeholder = "第六档备注",
                })
            </div>
            <div class="layui-col-md3">
                @ViewModelBag.Load(Html, new ModelBasic.EmtInput("memo_7")
                {
                    title = "第七档备注",
                    placeholder = "第七档备注",
                })
            </div>
            <div class="layui-col-md3">
                @ViewModelBag.Load(Html, new ModelBasic.EmtInput("memo_8")
                {
                    title = "第八档备注",
                    placeholder = "第八档备注",
                })
            </div>
        </div>
    </div>
</form>
<script>
    layui.use('form', function () {
        var form = layui.form;
        form.render('select'); // 仅渲染 select 元素
    });
    function setZFP() {
        $(".zb_" + $("#zfp_dang").val() + "_1_1").val($("#zfp_zb1").val());
        $(".zb_" + $("#zfp_dang").val() + "_2_1").val($("#zfp_zb2").val());
        $(".zb_" + $("#zfp_dang").val() + "_3_1").val($("#zfp_zb3").val());
        $(".zb_" + $("#zfp_dang").val() + "_1_2").val($("#zfp_zb2").val());
        $(".zb_" + $("#zfp_dang").val() + "_2_2").val($("#zfp_zb3").val());
        $(".zb_" + $("#zfp_dang").val() + "_3_2").val($("#zfp_zb1").val());
        $(".zb_" + $("#zfp_dang").val() + "_1_3").val($("#zfp_zb3").val());
        $(".zb_" + $("#zfp_dang").val() + "_2_3").val($("#zfp_zb1").val());
        $(".zb_" + $("#zfp_dang").val() + "_3_3").val($("#zfp_zb2").val());

        countZbNum();
    }

    function setGW() {
        $.each(gw_dangs.getValue(), function (i, item) {
            $(".zb_" + item.value + "_1" + "_" + $("#gw_role_1").val()).val($("#gw_zb1").val());
            $(".zb_" + item.value + "_2" + "_" + $("#gw_role_1").val()).val($("#gw_zb1").val());
            $(".zb_" + item.value + "_3" + "_" + $("#gw_role_1").val()).val($("#gw_zb1").val());
        })
        countZbNum();
    }

    function countZbNum() {
        $(".num").html("0")
        $.each($(".zb_zfp"), function (i, item) {
            $("#zfp_" + $(item).val()).html(parseInt($("#zfp_" + $(item).val()).html(), 10) + 1);
        })
        $.each($(".zb_gw"), function (i, item) {
            $("#gw_" + $(item).val()).html(parseInt($("#gw_" + $(item).val()).html(), 10) + 1);
        })
    }
</script>