
@using WeiCode.Utility;
@using WeiCode.DataBase;
@using WeiCode.Services;

@using WeiCode.Domain;
@using WeiCode.Models;
@using WeiCode.ModelDbs;
@using Services.Project;
<link rel="stylesheet" href="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/css/layui.css" media="all">
<link rel="stylesheet" href="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/css/global.css" media="all">
<script src="~/Assets/js/layui.js"></script>
<script type="text/javascript" src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/jquery/jquery.js"></script>
<script type="text/javascript" src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/layui.js"></script>
<script src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/common.2.0.js"></script>
@{
    Layout = null;
}
<style>
    .layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r,
    .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main,
    .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
        border-color: gray;
    }

    .layui-table th {
        text-align: center;
        font-weight: 700;
        font-size: 15px;
        border: 1px solid #000 !important;
    }

    .layui-table td {
        font-size: 15px;
        border: 1px solid #000 !important;
    }

    .layui-table {
        border: 1px solid #000 !important;
        border-collapse: collapse !important;
    }

    .layui-layer-iframe {
        top: 0 !important;
    }

    /* 表头固定样式 */
    .layui-table {
        position: relative;
    }

        .layui-table thead {
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: white;
        }

            .layui-table thead tr:first-child {
                position: sticky;
                top: 0;
                z-index: 11;
                background-color: #FFF3CA;
            }

            .layui-table thead tr:nth-child(2) {
                position: sticky;
                top: 50px; /* 第一行表头的高度 */
                z-index: 11;
                background-color: #FCE4D3;
            }

            /* 确保表头有足够的背景色 */
            .layui-table thead th {
                background-color: inherit;
            }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>运营平均二消个数排名</title>
</head>
@{
    string c_date_e = ViewBag.c_date_e;
    string c_date_s = ViewBag.c_date_s;
    string dateRange = c_date_s + " ~ " + c_date_e;
}
<body style="padding: 10px; background-color: #ffffff">
    <blockquote class="layui-elem-quote news_search">
        <div class="layui-inline">
            <form class="layui-form">
                <div class="layui-inline">
                    <label class="layui-form-label">日期范围</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="dateRange" name="dateRange" value="@dateRange" placeholder="选择日期范围">
                    </div>
                </div>
                <button type="submit" class="layui-btn search_btn">查询</button>
            </form>
        </div>
        <a style="color:blue;float:right;font-size:17px;" href="javascript:parent.win_pop_iframe('规则说明', '@(new ServiceFactory.HelpService().GetLink("6"))', 800,800);">排名规则说明</a>
    </blockquote>
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li style="padding: 0 14px;">
                <a href="/DataAnalysis/yyrank/YyNewNumRankTable?dateRange=@dateRange">团队主播平均拉新个数</a>
            </li>
            <li class="layui-this" lay-id="11">团队主播平均二消个数</li>
            <li style="padding: 0 14px;">
                <a href="/DataAnalysis/yyrank/YyAmount2RankTable?dateRange=@dateRange">团队主播平均二消音浪</a>
            </li>
            <li style="padding: 0 14px;">
                <a href="/DataAnalysis/yyrank/YyContactNumRankTable?dateRange=@dateRange">团队主播平均建联数</a>
            </li>
        </ul>
    </div>
    @{
        // 如果当天主播出现请假、未提报数据者或者拉新、首消音浪、二消个数、建联、二消音浪这些数据同时为0，则不计入有效主播总人数的统计
        var jixiaoDayList = DoMySql.FindList<ModelDb.p_jixiao_day>($"tenant_id = '{new DomainBasic.TenantApp().GetInfo().id}' and DATE(c_date) between '{c_date_s}' and '{c_date_e}' and (new_num!=0 or amount_1!=0 or num_2!=0 or amount_2!=0 or contact_num!=0)"); // 筛选周期内所有有效主播数据

        var newList = new List<ServiceFactory.DataAnalysis.YyJixiaoNum2RankModel>(); // 构造待排序列表

        foreach (var item in new ServiceFactory.UserInfo.All().GetAllYyForList()) // 获取所有运营
        {
            var yyJixiaoList = jixiaoDayList.Where(x => x.yy_user_sn == item.user_sn).ToList(); // 运营绩效数据

            // 取平均值需要去掉最高值和最低值的绩效记录
            var yyJixiaoListOrder = yyJixiaoList.OrderBy(p => p.num_2).ToList();// 按二消个数排序
            var middleYyJixiaoList = yyJixiaoListOrder.Skip(1).Take(yyJixiaoListOrder.Count - 2).ToList();// 去掉首尾
            var middleZbList = middleYyJixiaoList.GroupBy(c => c.zb_user_sn); // 按主播分组（去掉最高二消个数和最低二消个数的绩效记录）

            var middleZbCount = middleZbList.Count(); // 有效主播数（去掉最高二消个数和最低二消个数的绩效记录）
            var middleNum2Sum = middleYyJixiaoList.Sum(c => c.num_2); // 总二消个数（去掉最高二消个数和最低二消个数的绩效记录）

            newList.Add(new ServiceFactory.DataAnalysis.YyJixiaoNum2RankModel
            {
                user_sn = item.user_sn,
                name = item.name, // 运营名
                num2_sum = yyJixiaoList.Sum(c => c.num_2), // 总二消个数
                num2_average = middleZbCount > 0 ? middleNum2Sum.ToDecimal() / middleZbCount.ToDecimal() : 0, // 主播平均二消个数 = 总二消个数（去掉最高二消个数和最低二消个数的绩效记录） / 有效主播数（去掉最高二消个数和最低二消个数的绩效记录）
            });
        }
        <table class="layui-table" style="text-align:center;" id="table" name="table" width="100%">
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
                <tr style="background-color: #DAE3F4; font-weight: 700;">
                    <th>运营</th>
                    <th>总二消个数</th>
                    <th>主播平均二消个数</th>
                    <th>运营排名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int rank = 1;
                    <tr style="background-color: #FBE6D5">
                        @foreach (var yy in newList.OrderByDescending(c => c.num2_average).Take(50))
                        {
                        @:</tr><tr style="background-color: #FBE6D5">
                            <td>@yy.name</td>
                            <td>@yy.num2_sum</td>
                            <td>@yy.num2_average.ToDouble().ToString("0.00")</td>
                            switch (rank)
                            {
                                case 1:
                                    <td><img src="/Assets/images/rank1.png" width="30" height="30"></td>
                                    break;
                                case 2:
                                    <td><img src="/Assets/images/rank2.png" width="30" height="30"></td>
                                    break;
                                case 3:
                                    <td><img src="/Assets/images/rank3.png" width="30" height="30"></td>
                                    break;
                                case 4:
                                    <td><img src="/Assets/images/rank4.png" width="30" height="30"></td>
                                    break;
                                case 5:
                                    <td><img src="/Assets/images/rank5.png" width="30" height="30"></td>
                                    break;
                                default:
                                    <td>@rank</td>
                                    break;
                            }
                            rank++;
                            <td>
                                <div style="text-align:center;">
                                    <a href="javascript:LineChart('@yy.user_sn');" class="layui-btn layui-bg-blue">查看图表</a>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>
@*@ViewModelBag.Load(Html, new ModelBasic.AdjScreenshot("screenshot")
    {
        elem = "table"
    })*@
<script>
    //设置时间筛选的数据格式
    layui.use(['form', 'laydate'], function () {
        var form = layui.form;
        var laydate = layui.laydate;

        //日期时间段选择
        laydate.render({
            elem: '#dateRange'
            , range: '~'
        });
    });

    function LineChart(yy_user_sn) {
        win_pop_iframe('查看图表', '/DataAnalysis/YyRank/LineChart?yy_user_sn=' + yy_user_sn + '&type=num2', window.innerWidth * 0.8, window.innerHeight * 0.8);
    }
</script>
