
@using WeiCode.Utility;
@using WeiCode.DataBase;
@using WeiCode.Services;

@using WeiCode.Domain;
@using WeiCode.Models;
@using WeiCode.ModelDbs;
@using Services.Project;
@using System.Reflection;

@model Services.Project.PageFactory.DangBiao.TableVO

@{
    Layout = ModelBasic.PageModel.GetLayout();
}
<!-- 页面通用母版 -->

<style>
    .layui-fluid {
        padding: 15px;
    }

    /* 通讯录面板 */
    .layadmin-maillist-fluid .layadmin-contact-box {
        padding: 20px;
        background-color: #fff;
        border: 1px solid #e7eaec;
        overflow: hidden;
        min-height: 190px;
    }

    .layadmin-maillist-fluid .layadmin-text-center {
        text-align: center;
    }

        .layadmin-maillist-fluid .layadmin-text-center img {
            max-width: 80%;
            border-radius: 50%;
            margin-top: 5px;
        }

    .layadmin-maillist-fluid .layadmin-font-blod {
        font-weight: 600;
    }

    .layadmin-maillist-fluid .layadmin-maillist-img {
        margin-top: 5px;
    }

    .layadmin-maillist-fluid .layadmin-title {
        margin: 5px 0 10px 0;
    }

    .layadmin-maillist-fluid .layadmin-textimg {
        line-height: 25px;
        margin-bottom: 10px;
    }

    .layadmin-maillist-fluid .layadmin-address {
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .layadmin-maillist-fluid .layadmin-padding-left20 {
        padding-left: 20px;
    }

    .btnWrap {
        float: right;
    }

    .layui-text p {
    }

    .ellipsis {
        white-space: nowrap; /* 防止文本换行 */
        overflow: hidden; /* 隐藏溢出的文本 */
        text-overflow: ellipsis; /* 显示省略号来代表被修剪的文本 */
    }
</style>
<!-- 以下书写自己的页面内容代码 -->

@if (Model.table_id > 0)
{
    Layout = ModelBasic.PageModel.GetLayout();
    var roles = new DomainBasic.DictionaryApp().GetListForOption("档位角色");
    var dangs = new DomainBasic.DictionaryApp().GetListForOption("档位时段");
    var p_jixiao_dangbiao_item = DoMySql.FindEntity<ModelDb.p_jixiao_dangbiao_item>($"db_sn='{ViewBag.db_sn}'", false);
    string[] memos = new string[8];
    if (!p_jixiao_dangbiao_item.memo.IsNullOrEmpty())
    {
        memos = p_jixiao_dangbiao_item.memo.Split('@');
    }
    var p_jixiao_dangbiao = DoMySql.FindEntity<ModelDb.p_jixiao_dangbiao>($"id = {ViewBag.db_id}", false);
    var tableItem = DoMySql.FindEntity<ModelDb.p_jixiao_dangbiao_item>($"db_sn = '{p_jixiao_dangbiao.db_sn}'", false);
    var zbsrColorList = tableItem.zbsr_color_db.ToModel<List<PageFactory.DangBiao.ZbsrColor>>();
    var zbInfos = new ServiceFactory.UserInfo.Tg().TgGetNextZb(new UserIdentityBag().user_sn);
    foreach (var item in zbInfos)
    {
        var zbsrColor = zbsrColorList.Where(c => c.user_sn == item.user_sn).FirstOrDefault();
        if (!zbsrColor.IsNullOrEmpty())
        {
            item.db_color = zbsrColor.color;
        }
        else
        {
            item.db_color = "#E8F5E9";
        }
    }
    <blockquote class="layui-elem-quote news_search">

        <div class="layui-inline">
            <form class="layui-form">
                <div class="layui-input-inline">
                    <label class="layui-form-label">所属厅管</label>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">

                        @ViewModelBag.Load(Html, new ModelBasic.EmtSelect("tg_user_sn")
                        {
                            placeholder = "请选择直播厅",
                            options = new ServiceFactory.UserInfo.Tg().GetTreeOptionDic(new UserIdentityBag().user_sn),
                            defaultValue = ViewBag.tg_user_sn,
                            eventJsChange = new EmtFormBase.EventJsChange
                            {
                                eventJavascript = new EventJavascript
                                {
                                    code = "window.location.href = '/Jixiao/DangBiao/ShowCurrentTable?tg_user_sn=' + page.tg_user_sn.value"
                                },
                            }
                        })
                    </div>
                </div>
            </form>
        </div>
    </blockquote>


    <form id="mainForm" class="layui-form" action="table">
        <div class="layui-row">
            <div class="layui-col-md8">
                <div class="layui-input-inline" style="width:500px;">
                    @ViewModelBag.Load(Html, new ModelBasic.EmtInput("note")
                    {
                        title = "备注",
                        placeholder = "备注",
                        defaultValue = Model.note
                    })
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        @ViewModelBag.Load(Html, new ModelBasic.EmtHidden("table_id")
                       {
                           placeholder = "table_id",
                           defaultValue = @Model.table_id.ToString(),
                       })
                    </div>
                </div>
                @{
                    if (Model.op_type == 1)//修改
                    {
                        <div class="layui-col-md1" style="text-align:right">
                            <button type="button" class="layui-btn layui-btn-normal btn-submit">保存档表</button>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <table class="layui-table" style="width:100%;" id="table1">
                    <tr style="background-color: #FCE4D3">
                        <td colspan="@(roles.Count + 3)" style="font-size: 18px; text-align: center; font-weight: bold">@Html.Raw(ViewBag.ting_name)&nbsp;&nbsp;档表(@Model.c_date)</td>
                    </tr>
                    <tr style="background-color: #FCE4D3;">
                        <td style="width: 75px; text-align: center">档位</td>
                        <td style="width: 90px; text-align: center">时间</td>
                        @foreach (var items in roles)
                        {
                            if (items.Key == "挂1")
                            {
                                <td style="text-align:center">
                                    <select lay-ignore style="border: 0; background-color: #FCE4D3; color: #666666; font-size: 16px; text-align: center; width: 100% " name="dang_wei_role">
                                        <option value="挂1">挂1</option>
                                        <option value="陪" @(Model.dang_wei_role == "陪" ? "selected" : "")>陪</option>
                                    </select>
                                </td>
                            }
                            else
                            {
                                <td style="text-align:center">@items.Key</td>
                            }
                        }
                        <td style="width: 75px; text-align: center">备注</td>
                    </tr>
                    @{
                        int i = -1;
                        int dangNum = -1;
                        foreach (var item in dangs)
                        {
                            for (var _i = 1; _i <= 3; _i++)
                            {
                                int zfp_i = 0;
                                string zfp_class = "";
                                i++;
                                //获取表格中每行的值
                                string[] roles_values = null;
                                Type type = typeof(PageFactory.DangBiao.TableVO);
                                PropertyInfo prop = type.GetProperty("zb_" + i);
                                if (prop != null && prop.CanRead)
                                {
                                    roles_values = prop.GetValue(Model) as string[];
                                }
                                <tr style="background-color: white">
                                    @if (_i == 1)
                                    {
                                        <td rowspan="3" style="text-align: center; background-color: #FCE4D3"> @item.Key</td>
                                    }
                                    @{var time_text = i + ":00-" + (i + 1) + ":00";}
                                    <td style="text-align:center">@time_text</td>
                                    @{
                                        int j = -1;
                                        foreach (var _item in roles)
                                        {
                                            zfp_i++;
                                            j++;
                                            if (zfp_i < 4)
                                            {
                                                zfp_class = "zb_zfp";
                                            }
                                            else
                                            {
                                                zfp_class = "zb_gw";
                                            }
                                            <td style="background-color:@(zbInfos.Where(x=>x.user_sn==roles_values[j]).FirstOrDefault()?.db_color ?? "white")">
                                                <select lay-ignore style="border: 0; color: #666666; font-size: 16px; background-color: @(zbInfos.Where(x=>x.user_sn==roles_values[j]).FirstOrDefault()?.db_color ?? "white");text-align:center;width:100%" name="zb_@i" class="zb_@(item.Value)_@(_i)_@(_item.Value) zb_@i @zfp_class">
                                                    <option value=""></option>
                                                    @foreach (var __item in zbInfos)
                                                    {
                                                        <option value="@__item.user_sn" @(roles_values[j] == __item.user_sn ? "selected" : "")>@__item.name</option>
                                                    }
                                                </select>
                                            </td>
                                        }
                                    }
                                    @if (_i == 1)
                                    {
                                        dangNum++;
                                        <td rowspan="3" style="text-align: center; background-color: white">
                                            @(memos.Length == 8 ? memos[dangNum] : "")
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    }
                </table>
            </div>


        </div>
    </form>
    if (Model.op_type != 1)//查看的时候，增加另存为图片功能
    {
        @ViewModelBag.Load(Html, new ModelBasic.AdjScreenshot("screenshot")
        {
            elem = "table1"
        });
    }
}
else
{
    <div class="layui-fluid layadmin-maillist-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-card-body layui-text">
                <blockquote class="layui-elem-quote" style="border: none;">
                    <p style="color: orangered;">无当前档表,<a href="/DangBiao/Dangbiao/Table">点击创建档表</a></p>
                </blockquote>
            </div>
        </div>
    </div>
}

<script>
    layui.use('form', function () {
        var form = layui.form;
        form.render('select'); // 仅渲染 select 元素
    });

    window.onload = function () {
        var status = @Model.op_type;
        if (status === 0) { // 查看页面，禁用所有元素
            document.querySelectorAll('#mainForm input, #mainForm select, #mainForm button')
                .forEach(function (element) {
                    element.setAttribute('disabled', 'true');
                });
        }
    };
</script>

