@{
    Layout = null;
}

@using WeiCode.Utility;
@using WeiCode.DataBase;
@using WeiCode.ModelDbs;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using WeiCode.Services;

@using WeiCode.ModelDbs;
@using Services.Project;
@using WeiCode.Domain;
@using WeiCode.ModelDbs;
@using WeiCode.Models;
@using WeiCode.Domain;


<link rel="stylesheet" href="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/css/layui.css" media="all">
<link rel="stylesheet" href="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/css/global.css" media="all">

<style>
    .layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r,
    .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main,
    .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
        border-color: gray;
    }

    .layui-table th {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
    }

    .layui-table td {
        font-size: 14px;
    }
</style>

<style>
    .layuiadmin-big-font {
        font-weight: bold;
        font-size: 42px;
        margin: 10px;
    }
</style>

@{

    ///今日上报
    var payable_today = DoMySql.FindField<ModelDb.user_base>("COUNT(id)", $"user_type_id='11' and status='{ModelDb.user_base.status_enum.正常.ToInt()}' and tenant_id='{new DomainBasic.TenantApp().GetInfo().id}' and user_sn not in(select zb_user_sn from p_jixiao_vacation where c_date='{DateTime.Today.ToDate()}')");

    var real_today = DoMySql.FindField<ModelDb.p_jixiao_day>("COUNT(id)", $"c_date = '{DateTime.Today}' and tenant_id='{new DomainBasic.TenantApp().GetInfo().id}'");

    ///昨日上报
    var payable_yesterday = DoMySql.FindField<ModelDb.user_base>("COUNT(id)", $"user_type_id='11' and status='{ModelDb.user_base.status_enum.正常.ToInt()}' and create_time<'{DateTime.Today}' and tenant_id='{new DomainBasic.TenantApp().GetInfo().id}' and user_sn not in(select zb_user_sn from p_jixiao_vacation where c_date='{DateTime.Today.AddDays(-1).ToDate()}')");

    var real_yesterday = DoMySql.FindField<ModelDb.p_jixiao_day>("COUNT(id)", $"c_date = '{DateTime.Today.AddDays(-1)}' and tenant_id='{new DomainBasic.TenantApp().GetInfo().id}'");

}

<div class="layui-card">
    <div class="layui-card-header">核心数据</div>
    <div class="layui-card-body" style="background-color:#F6F6F6">
        <div class="layui-row layui-col-space15">


            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header" style="background-color: #FFF3CA;border:solid;border-width:1px;border-color:black;text-align:center;font-size:15px;">
                        昨日(@(DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd")))未提交名单
                    </div>
                    <div>

                        @{
                            string position = "L";
                            var yy_left = new List<ModelDb.user_base>();
                            var yy_right = new List<ModelDb.user_base>();
                            foreach (var yy in DoMySql.FindList<ModelDb.user_base>($"user_type_id='{new DomainBasic.UserTypeApp().GetInfoByCode("yyer").id}' and status!=9 and tenant_id='{new DomainBasic.TenantApp().GetInfo().id}'"))
                            {
                                if (position == "L")
                                {
                                    yy_left.Add(yy);
                                    position = "R";
                                }
                                else
                                {
                                    yy_right.Add(yy);
                                    position = "L";
                                }
                            }
                        }

                        <div class="layui-col-sm6">
                            <table class="layui-table" style="text-align:center;" id="table1" name="table1">
                                <colgroup>
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                </colgroup>
                                <thead>
                                    <tr style="background-color: #FCE4D3; ">
                                        <th>运营</th>
                                        <th>未完全提交直播厅</th>
                                        <th>未提交人数</th>
                                    </tr>
                                </thead>
                                @{
                                    foreach (var yy in yy_left)
                                    {
                                        var tg_list = new DomainUserBasic.UserRelationApp().GetNextUsersForOption(ModelEnum.UserRelationTypeEnum.运营邀厅管, yy.user_sn);
                                        int unreport_count = 0;
                                        int zb_count = 0;
                                        foreach (var tg in tg_list)
                                        {
                                            int zb_report_num = DoMySql.FindList<ModelDb.p_jixiao_day>($"tg_user_sn='{tg.value}' and c_date='{DateTime.Today.AddDays(-1)}'").Count;
                                            int zb_num = new DomainUserBasic.UserRelationApp().GetNextUsersForOption(ModelEnum.UserRelationTypeEnum.厅管邀主播, tg.value).Count;
                                            if (zb_report_num < zb_num)
                                            {
                                                unreport_count++;
                                                zb_count += (zb_num - zb_report_num);
                                            }
                                        }
                                        <tr style="background-color: #E3F2D9">
                                            <td>@yy.name</td>
                                            <td>@unreport_count</td>
                                            <td>@zb_count</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>

                        <div class="layui-col-sm6">
                            <table class="layui-table" style="text-align:center;" id="table1" name="table1">
                                <colgroup>
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                </colgroup>
                                <thead>
                                    <tr style="background-color: #FCE4D3; ">
                                        <th>运营</th>
                                        <th>未完全提交直播厅</th>
                                        <th>未提交人数</th>
                                    </tr>
                                </thead>
                                @{
                                    foreach (var yy in yy_right)
                                    {
                                        var tg_list = new DomainUserBasic.UserRelationApp().GetNextUsersForOption(ModelEnum.UserRelationTypeEnum.运营邀厅管, yy.user_sn);
                                        int unreport_count = 0;
                                        int zb_count = 0;
                                        foreach (var tg in tg_list)
                                        {
                                            int zb_report_num = DoMySql.FindList<ModelDb.p_jixiao_day>($"tg_user_sn='{tg.value}' and c_date='{DateTime.Today.AddDays(-1)}'").Count;
                                            int zb_num = new DomainUserBasic.UserRelationApp().GetNextUsersForOption(ModelEnum.UserRelationTypeEnum.厅管邀主播, tg.value).Count;
                                            if (zb_report_num < zb_num)
                                            {
                                                unreport_count++;
                                                zb_count += (zb_num - zb_report_num);
                                            }
                                        }
                                        <tr style="background-color: #E3F2D9">
                                            <td>@yy.name</td>
                                            <td>@unreport_count</td>
                                            <td>@zb_count</td>
                                        </tr>
                                    }
                                }

                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <!--

             <div class="layui-col-sm3 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        音浪(昨日)
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <a href="javascript:parent.win_pop_iframe('每日上报','/Jixiao/ReportDay/List?c_date_range=@DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd") ~ @DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd")', 800, 650)"><p class="layuiadmin-big-font">@ViewBag.yesterday_amount</p></a>
                        <p style="margin:10px;">
                            今日
                            <a href="javascript:parent.win_pop_iframe('每日上报','/Jixiao/ReportDay/List?c_date_range=@DateTime.Today.ToString("yyyy-MM-dd") ~ @DateTime.Today.ToString("yyyy-MM-dd")', 800, 650)"><span class="layuiadmin-span-color">@ViewBag.today_amount</span></a>
                            本月
                            <a href="javascript:parent.win_pop_iframe('每日上报','/Jixiao/ReportDay/List?c_date_range=@DateTime.Today.ToString("yyyy-MM-01") ~ @DateTime.Today.AddMonths(1).ToString("yyyy-MM-01").ToDate().AddDays(-1).ToString("yyyy-MM-dd")', 800, 650)"><span class="layuiadmin-span-color">@ViewBag.month_amount</span></a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="layui-col-sm3 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        拉新(昨日)
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <a href="javascript:parent.win_pop_iframe('每日上报','/Jixiao/ReportDay/List?c_date_range=@DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd") ~ @DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd")', 800, 650)"><p class="layuiadmin-big-font">@ViewBag.yesterday_new_num</p></a>
                        <p style="margin:10px;">
                            今日
                            <a href="javascript:parent.win_pop_iframe('每日上报','/Jixiao/ReportDay/List?c_date_range=@DateTime.Today.ToString("yyyy-MM-dd") ~ @DateTime.Today.ToString("yyyy-MM-dd")', 800, 650)"><span class="layuiadmin-span-color">@ViewBag.today_new_num</span></a>
                            本月
                            <a href="javascript:parent.win_pop_iframe('每日上报','/Jixiao/ReportDay/List?c_date_range=@DateTime.Today.ToString("yyyy-MM-01") ~ @DateTime.Today.AddMonths(1).ToString("yyyy-MM-01").ToDate().AddDays(-1).ToString("yyyy-MM-dd")', 800, 650)"><span class="layuiadmin-span-color">@ViewBag.month_new_num</span></a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="layui-col-sm3 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        建联(昨日)
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <a href="javascript:parent.win_pop_iframe('每日上报','/Jixiao/ReportDay/List?c_date_range=@DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd") ~ @DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd")', 800, 650)"><p class="layuiadmin-big-font">@ViewBag.yesterday_contact_num</p></a>
                        <p style="margin:10px;">
                            今日
                            <a href="javascript:parent.win_pop_iframe('每日上报','/Jixiao/ReportDay/List?c_date_range=@DateTime.Today.ToString("yyyy-MM-dd") ~ @DateTime.Today.ToString("yyyy-MM-dd")', 800, 650)"><span class="layuiadmin-span-color">@ViewBag.today_contact_num</span></a>
                            本月
                            <a href="javascript:parent.win_pop_iframe('每日上报','/Jixiao/ReportDay/List?c_date_range=@DateTime.Today.ToString("yyyy-MM-01") ~ @DateTime.Today.AddMonths(1).ToString("yyyy-MM-01").ToDate().AddDays(-1).ToString("yyyy-MM-dd")', 800, 650)"><span class="layuiadmin-span-color">@ViewBag.month_contact_num</span></a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="layui-col-sm3 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        误刷大头(昨日)
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <a href="javascript:parent.win_pop_iframe('每日上报','/Jixiao/ReportDay/List?c_date_range=@DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd") ~ @DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd")', 800, 650)"><p class="layuiadmin-big-font">@ViewBag.yesterday_datou_num</p></a>
                        <p style="margin:10px;">
                            今日
                            <a href="javascript:parent.win_pop_iframe('每日上报','/Jixiao/ReportDay/List?c_date_range=@DateTime.Today.ToString("yyyy-MM-dd") ~ @DateTime.Today.ToString("yyyy-MM-dd")', 800, 650)"><span class="layuiadmin-span-color">@ViewBag.today_datou_num</span></a>
                            本月
                            <a href="javascript:parent.win_pop_iframe('每日上报','/Jixiao/ReportDay/List?c_date_range=@DateTime.Today.ToString("yyyy-MM-01") ~ @DateTime.Today.AddMonths(1).ToString("yyyy-MM-01").ToDate().AddDays(-1).ToString("yyyy-MM-dd")', 800, 650)"><span class="layuiadmin-span-color">@ViewBag.month_datou_num</span></a>
                        </p>
                    </div>
                </div>
            </div>

            -->
        </div>
    </div>
    <!--
        <div class="layui-card-body" style="background-color:#F6F6F6">
        <div class="layui-row layui-col-space15">


            <div class="layui-col-sm3 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        应交记录
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <p class="layuiadmin-big-font">@payable_yesterday[0]</p>
                        <p style="margin:10px;">
                            今日
                            <span class="layuiadmin-span-color">@payable_today[0]</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="layui-col-sm3 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        实交记录
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <p class="layuiadmin-big-font">@real_yesterday[0]</p>
                        <p style="margin:10px;">
                            今日
                            <span class="layuiadmin-span-color">@real_today[0]</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    -->

</div>

<script type="text/javascript" src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/jquery/jquery.js"></script>
<script type="text/javascript" src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/layui.2.5.6.js"></script>
<script src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/common.2.0.js"></script>

<script>
    layui.use(['form', 'element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            element = layui.element;

        $(function () {
            form.render();
            $(".layui-anim>dd")[0].click()
            form.render('select');
        });
    });
</script>


