@{
    Layout = null;
}

@using WeiCode.Utility;
@using WeiCode.DataBase;
@using WeiCode.Services;
@using WeiCode.ModelDbs;
@using WeiCode.Domain;
@using Services.Project;
@using WeiCode.Models;
<link rel="stylesheet" href="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/css/layui.css" media="all">
<link rel="stylesheet" href="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/css/global.css" media="all">
<style>
    .layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r,
    .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main,
    .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
        border-color: gray;
    }

    .layui-table th {
        text-align: center;
        font-weight: 700;
        font-size: 15px;
    }

    .layui-table td {
        font-size: 15px;
    }
</style>

@{
    string c_date_e = ViewBag.c_date_e;
    string c_date_s = ViewBag.c_date_s;
    string dateRange = c_date_s + " ~ " + c_date_e;
    string zb_user_sn = ViewBag.zb_user_sn;
    var zb = new ServiceFactory.UserInfo.Zhubo().GetZhuboInfo(zb_user_sn);

    var sum = DoMySql.FindField<ModelDb.p_jixiao_day>($"sum(new_num),sum(contact_num),sum(amount_1),sum(num_2),sum(amount_2),sum(old_amount),sum(datou_num),sum(amount),sum(hx_num),sum(hx_amount),sum(hdpk_amount)", $"c_date>='{c_date_s}' and c_date<='{c_date_e}' and zb_user_sn='{ViewBag.zb_user_sn}'");
}


<div class="layui-card">

    <div class="layui-card" style="width:98%;top:30px;margin:0 auto">



        <table class="layui-table" style="text-align:center;" id="table0" name="table0">
            <colgroup>
                <col width="120">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">

                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">

                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">

                <col width="100">
            </colgroup>
            <thead>
                <tr>
                    <td colspan="16" style="text-align: center; background-color: #D9E1F2; font-size: 18px; font-weight: 700 ">@(zb.username)@(c_date_s.ToDate().ToString("MM月dd日"))至@(c_date_e.ToDate().ToString("dd日"))流水数据</td>
                </tr>
                <tr style="background-color: #B4C6E7; font-weight: 700;">
                    <th>日期</th>
                    <th>拉新数</th>
                    <th>首消音浪</th>
                    <th>二消个数</th>
                    <th>二消率</th>
                    <th>二消音浪</th>
                    <th>首消二消音浪占比</th>
                    <th>回消数</th>
                    <th>回消音浪</th>
                    <th>回消音浪占比</th>
                    <th>建联数</th>
                    <th>建联率</th>
                    <th>活动PK</th>
                    <th>活动音浪占比</th>
                    <th>掉大头</th>
                    <th>总音浪</th>

                </tr>
            </thead>
            @{
                string color = "#D9E1F2";

                for (DateTime date = c_date_e.ToDate(); date >= c_date_s.ToDate(); date = date.AddDays(-1))
                {
                    var dateData = new ServiceFactory.JixiaoDay.JixiaoService().GetZbJixiaoOnDate(zb_user_sn, date);
                    <tr style="background-color: @color">
                        <td>@(date.ToString("MM月dd日"))</td>
                        <td>@dateData.new_num</td>
                        <td>@dateData.amount_1</td>
                        <td>@dateData.num_2</td>
                        <td>@(dateData.new_num.ToInt()<=0?"0":(dateData.num_2.ToDouble()*100/dateData.new_num.ToInt()).ToString("0.00"))%</td>
                        <td>@dateData.amount_2</td>
                        <td>@(dateData.amount.ToInt()<=0?"0":((dateData.amount_1.ToDouble()+ dateData.amount_2.ToDouble())*100/dateData.amount.ToInt()).ToString("0.00"))%</td>
                        <td>@dateData.hx_num</td>
                        <td>@dateData.hx_amount</td>
                        <td>@(dateData.amount.ToInt()<=0?"0":(dateData.hx_amount.ToDouble()*100/dateData.amount.ToInt()).ToString("0.00"))%</td>
                        <td>@dateData.contact_num</td>
                        <td>@(dateData.new_num.ToInt()<=0?"0":(dateData.contact_num.ToDouble()*100/dateData.new_num.ToInt()).ToString("0.00"))%</td>
                        <td>@dateData.hdpk_amount</td>
                        <td>@(dateData.amount.ToInt()<=0?"0":(dateData.hdpk_amount.ToDouble()*100/dateData.amount.ToInt()).ToString("0.00"))%</td>
                        <td>@dateData.datou_num</td>
                        <td>@dateData.amount</td>
                    </tr>
                    if (color == "#D9E1F2")
                    {
                        color = "#B4C6E7";
                    }
                    else
                    {
                        color = "#D9E1F2";
                    }
                }

            }

            <tr style="background-color: @color">
                <td>合计</td>
                <td>@sum[0]</td>
                <td>@sum[2]</td>
                <td>@sum[3]</td>
                <td>@(sum[0].ToNullableString()=="0" || sum[0].ToNullableString().IsNullOrEmpty() ? "0":(sum[3].ToDouble()*100/sum[0].ToInt()).ToString("0.00"))%</td>
                <td>@sum[4]</td>
                <td>@(sum[7].ToNullableString() == "0" || sum[7].ToNullableString().IsNullOrEmpty() ? "0" : ((sum[2].ToDouble()+sum[4].ToDouble()) * 100 / sum[7].ToInt()).ToString("0.00"))%</td>
                <td>@sum[8]</td>
                <td>@sum[9]</td>
                <td>@(sum[7].ToNullableString()=="0" || sum[7].ToNullableString().IsNullOrEmpty() ? "0":(sum[9].ToDouble()*100/sum[7].ToInt()).ToString("0.00"))%</td>
                <td>@sum[1]</td>
                <td>@(sum[0].ToNullableString()=="0" || sum[0].ToNullableString().IsNullOrEmpty() ? "0":(sum[1].ToDouble()*100/sum[0].ToInt()).ToString("0.00"))%</td>
                <td>@sum[10]</td>
                <td>@(sum[7].ToNullableString()=="0" || sum[7].ToNullableString().IsNullOrEmpty() ? "0":(sum[10].ToDouble()*100/sum[7].ToInt()).ToString("0.00"))%</td>
                <td>@sum[6]</td>
                <td>@sum[7]</td>


            </tr>

        </table>

        @*<form class="layui-form">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">总喊活</label>
                    <div class="layui-input-inline" style="width: 120px;">
                        <input type="text" class="layui-input" name="hanhuo"
                               lay-verify="number" disabled
                               value="@totalNum[0]">
                    </div>
                    <label class="layui-form-label">总新付</label>
                    <div class="layui-input-inline" style="width: 120px;">
                        <input type="text" class="layui-input" name="xinfu"
                               disabled
                               value="@totalNum[1]">
                    </div>
                </div>
            </form>*@
    </div>

</div>


@ViewModelBag.Load(Html, new ModelBasic.AdjScreenshot("screenshot")
{
    elem = "table0"
})
<script src="~/Assets/js/layui.js"></script>
<script type="text/javascript" src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/layui.2.5.6.js"></script>
<script type="text/javascript" src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/jquery/jquery.js"></script>
<script src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/common.2.0.js"></script>

<script>

    //设置时间筛选的数据格式
    layui.use(['form', 'laydate'], function () {
        var form = layui.form;
        var laydate = layui.laydate;

        //日期时间段选择
        laydate.render({
            elem: '#dateRange'
            , range: '~'
        });
    });

    //卡片面板切换
    layui.use(function () {
        var element = layui.element;

        // hash 地址定位
        var hashName = 'tabid'; // hash 名称
        var layid = location.hash.replace(new RegExp('^#' + hashName + '='), ''); // 获取 lay-id 值

        // 初始切换
        element.tabChange('test-hash', layid);
        // 切换事件
        element.on('tab(test-hash)', function (obj) {
            location.hash = hashName + '=' + this.getAttribute('lay-id');
        });
    });


</script>