@{
    Layout = null;
}

@using WeiCode.Utility;
@using WeiCode.DataBase;
@using WeiCode.Services;
@using WeiCode.ModelDbs;
@using WeiCode.Domain;
@using Services.Project;
@using WeiCode.Models;
<link rel="stylesheet" href="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/css/layui.css" media="all">
<link rel="stylesheet" href="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/css/global.css" media="all">
<style>
    .layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r,
    .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main,
    .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
        border-color: gray;
    }

    .layui-table th {
        text-align: center;
        font-weight: 700;
        font-size: 15px;
    }

    .layui-table td {
        font-size: 15px;
    }
</style>

@{
    string c_date_e = ViewBag.c_date_e;
    string c_date_s = ViewBag.c_date_s;
    string dateRange = c_date_s + " ~ " + c_date_e;
    var p_jixiao_day = DoMySql.FindListBySql<ServiceFactory.JixiaoTable>($"select zb_user_sn,sum(amount) as amount_sum,sum(new_num) as new_num_sum,sum(contact_num) as contact_num_sum,sum(datou_num) as datou_num_sum,sum(amount_1) as amount_1_sum,sum(num_2) as num_2_sum,sum(amount_2) as amount_2_sum,sum(old_amount) as old_amount_sum from p_jixiao_day where c_date>='{c_date_s}' and c_date<='{c_date_e}' and tg_user_sn='{ViewBag.tg_user_sn}' group by zb_user_sn");

    var sum = DoMySql.FindField<ModelDb.p_jixiao_day>($"sum(new_num),sum(contact_num),sum(amount_1),sum(num_2),sum(amount_2),sum(old_amount),sum(datou_num),sum(amount)", $"c_date>='{c_date_s}' and c_date<='{c_date_e}' and tg_user_sn='{ViewBag.tg_user_sn}'");
}


<div class="layui-card">
    
    <div class="layui-card" style="width:95%;top:30px;margin:0 auto">
        <div class="layui-card-header">数据统计</div>
        <blockquote class="layui-elem-quote news_search">
            <div class="layui-inline">
                <form class="layui-form">
                    @{
                        if (DoMySql.FindListBySql<ModelDb.user_relation>(new DomainUserBasic.UserRelationApp().GetNextUserSnForSql(ModelEnum.UserRelationTypeEnum.厅管邀厅管, new UserIdentityBag().user_sn)).Count > 0)
                        {
                            <div class="layui-input-inline">
                                <label class="layui-form-label">直播厅</label>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-input-inline">

                                    @ViewModelBag.Load(Html, new ModelBasic.EmtSelectFull("tg_user_sn")
                                    {
                                        placeholder = "请选择直播厅",
                                        options = new ServiceFactory.RelationService().GetTreeOption(new UserIdentityBag().user_sn),
                                        defaultValue = ViewBag.tg_user_sn,
                                        eventJsChange = new EmtFormBase.EventJsChange
                                        {
                                            eventJavascript = new EventJavascript
                                            {
                                                code = "window.location.href = '/jixiao/reportday/datas?dateRange=' + page.dateRange.value+'&tg_user_sn='+page.tg_user_sn.value;"
                                            },
                                        }
                                    })
                                </div>
                            </div>
                        }
                    }

                    <div class="layui-inline">
                        <label class="layui-form-label">日期范围</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="dateRange" name="dateRange" value="@dateRange" placeholder="选择日期范围">
                        </div>
                    </div>
                    <button type="submit" class="layui-btn search_btn">查询</button>

                    <a class="layui-btn" href="/jixiao/reportday/list">数据表格</a>
                </form>

            </div>
        </blockquote>



        <table class="layui-table" style="text-align:center;" id="table2" name="table2">
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">

                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
                <tr>
                    <td colspan="13" style="text-align: center; background-color: #D9E1F2; font-size: 18px; font-weight: 700 ">@(ViewBag.username)@(c_date_s.ToDate().ToDateString(ConvertExt.DateFormate.自定义,"MM月dd日"))至@(c_date_e.ToDate().ToDateString(ConvertExt.DateFormate.自定义,"dd日"))个人流水汇总</td>
                </tr>
                <tr style="background-color: #B4C6E7; font-weight: 700;">
                    <th>昵称</th>
                    <th>拉新数量</th>
                    <th>首消音浪</th>
                    <th>二消个数</th>
                    <th>建联</th>
                    <th>建联率</th>
                    <th>二消音浪</th>
                    <th>二消率</th>
                    <th>老用户</th>
                    <th>掉大头</th>
                    <th>个人总音浪</th>
                    <th>二消音浪占比</th>
                    <th>老用户占比</th>
                </tr>
            </thead>
            @{
                string color = "#D9E1F2";
                foreach (var item in p_jixiao_day)
                {
                    string zhubo = DoMySql.FindEntity<ModelDb.user_base>($"user_sn='{item.zb_user_sn}'").username;

                    <tr style="background-color: @color">
                        <td>@zhubo</td>
                        <td>@item.new_num_sum</td>
                        <td>@item.amount_1_sum</td>
                        <td>@item.num_2_sum</td>
                        <td>@item.contact_num_sum</td>
                        <td>@(item.new_num_sum.ToInt()<=0?"0":(item.contact_num_sum.ToDouble()*100/item.new_num_sum.ToInt()).ToString("0.00"))%</td>
                        <td>@item.amount_2_sum</td>
                        <td>@(item.new_num_sum.ToInt()<=0?"0":(item.num_2_sum.ToDouble()*100/item.new_num_sum.ToInt()).ToString("0.00"))%</td>
                        <td>@item.old_amount_sum</td>
                        <td>@item.datou_num_sum</td>
                        <td>@item.amount_sum</td>
                        <td>@(item.amount_sum.ToInt()<=0?"0":(item.amount_2_sum.ToDouble()*100/item.amount_sum.ToInt()).ToString("0.00"))%</td>
                        <td>@(item.amount_sum.ToInt()<=0?"0":(item.old_amount_sum.ToDouble()*100/item.amount_sum.ToInt()).ToString("0.00"))%</td>
                    </tr>

                    if (color == "#D9E1F2")
                    {
                        color = "#B4C6E7";
                    }
                    else
                    {
                        color = "#D9E1F2";
                    }
                }
            }

            <tr style="background-color: @color">
                <td>合计 @p_jixiao_day.Count 人</td>
                <td>@sum[0]</td>
                <td>@sum[2]</td>
                <td>@sum[3]</td>
                <td>@sum[1]</td>
                <td>@(sum[0].ToNullableString()=="0" || sum[0].ToNullableString().IsNullOrEmpty() ? "0":(sum[1].ToDouble()*100/sum[0].ToInt()).ToString("0.00"))%</td>
                <td>@sum[4]</td>
                <td>@(sum[0].ToNullableString()=="0" || sum[0].ToNullableString().IsNullOrEmpty()? "0":(sum[3].ToDouble()*100/sum[0].ToInt()).ToString("0.00"))%</td>
                <td>@sum[5]</td>
                <td>@sum[6]</td>
                <td>@sum[7]</td>
                <td>@(sum[7].ToNullableString()=="0" || sum[7].ToNullableString().IsNullOrEmpty() ? "0":(sum[4].ToDouble()*100/sum[7].ToInt()).ToString("0.00"))%</td>
                <td>@(sum[7].ToNullableString()=="0" || sum[7].ToNullableString().IsNullOrEmpty() ? "0":(sum[5].ToDouble()*100/sum[7].ToInt()).ToString("0.00"))%</td>
            </tr>

        </table>
    </div>

    @{ 
        DateTime Monday = ViewBag.Monday;
    }

    <div class="layui-card" style="width:95%;margin-top:130px;margin:0 auto">
        <div class="layui-card-header">每周数据</div>
        <div class="layui-tab layui-tab-brief" lay-filter="test-hash">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="11">@Monday.ToString("MM月dd日") 至 @Monday.AddDays(6).ToString("MM月dd日")</li>
                <li lay-id="22">@Monday.AddDays(-7).ToString("MM月dd日") 至 @Monday.AddDays(-7).AddDays(6).ToString("MM月dd日")</li>
                <li lay-id="33">@Monday.AddDays(-14).ToString("MM月dd日") 至 @Monday.AddDays(-14).AddDays(6).ToString("MM月dd日")</li>
                <li lay-id="44">@Monday.AddDays(-21).ToString("MM月dd日") 至 @Monday.AddDays(-21).AddDays(6).ToString("MM月dd日")</li>
            </ul>
            <div class="layui-tab-content">
                @{
                    for (int i = 0; i < 4; i++)
                    {
                        var list = DoMySql.FindListBySql<ServiceFactory.JixiaoTable>($"select zb_user_sn,sum(amount) as amount_sum,sum(new_num) as new_num_sum,sum(contact_num) as contact_num_sum,sum(datou_num) as datou_num_sum,sum(amount_1) as amount_1_sum,sum(num_2) as num_2_sum,sum(amount_2) as amount_2_sum,sum(old_amount) as old_amount_sum from p_jixiao_day where c_date>='{Monday.ToString("yyyy-MM-dd")}' and c_date<='{Monday.AddDays(6).ToString("yyyy-MM-dd")}' and tg_user_sn='{ViewBag.tg_user_sn}' group by zb_user_sn");
                        var list_sum = DoMySql.FindField<ModelDb.p_jixiao_day>($"sum(new_num),sum(contact_num),sum(amount_1),sum(num_2),sum(amount_2),sum(old_amount),sum(datou_num),sum(amount)", $"c_date>='{Monday.ToString("yyyy-MM-dd")}' and c_date<='{Monday.AddDays(6).ToString("yyyy-MM-dd")}' and tg_user_sn='{ViewBag.tg_user_sn}'");
                        <div class="layui-tab-item @(i==0 ? "layui-show":"")">

                            <table class="layui-table" style="text-align:center;" id="table2" name="table2">
                                <colgroup>
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <td colspan="13" style="text-align: center; background-color: #D9E1F2; font-size: 18px; font-weight: 700 ">@(ViewBag.username)@(Monday.ToDate().ToDateString(ConvertExt.DateFormate.自定义,"MM月dd日"))至@(Monday.AddDays(6).ToDate().ToDateString(ConvertExt.DateFormate.自定义,"dd日"))个人流水汇总</td>
                                    </tr>
                                    <tr style="background-color: #B4C6E7; font-weight: 700;">
                                        <th>昵称</th>
                                        <th>拉新数量</th>
                                        <th>首消音浪</th>
                                        <th>二消个数</th>
                                        <th>建联</th>
                                        <th>建联率</th>
                                        <th>二消音浪</th>
                                        <th>二消率</th>
                                        <th>老用户</th>
                                        <th>掉大头</th>
                                        <th>个人总音浪</th>
                                        <th>二消音浪占比</th>
                                        <th>老用户占比</th>
                                    </tr>
                                </thead>
                                @{
                                    string color_week = "#D9E1F2";
                                    foreach (var item in list)
                                    {
                                        string zhubo = DoMySql.FindEntity<ModelDb.user_base>($"user_sn='{item.zb_user_sn}'").username;

                                        <tr style="background-color: @color_week">
                                            <td>@zhubo</td>
                                            <td>@item.new_num_sum</td>
                                            <td>@item.amount_1_sum</td>
                                            <td>@item.num_2_sum</td>
                                            <td>@item.contact_num_sum</td>
                                            <td>@(item.new_num_sum.ToInt()<=0?"0":(item.contact_num_sum.ToDouble()*100/item.new_num_sum.ToInt()).ToString("0.00"))%</td>
                                            <td>@item.amount_2_sum</td>
                                            <td>@(item.new_num_sum.ToInt()<=0?"0":(item.num_2_sum.ToDouble()*100/item.new_num_sum.ToInt()).ToString("0.00"))%</td>
                                            <td>@item.old_amount_sum</td>
                                            <td>@item.datou_num_sum</td>
                                            <td>@item.amount_sum</td>
                                            <td>@(item.amount_sum.ToInt()<=0?"0":(item.amount_2_sum.ToDouble()*100/item.amount_sum.ToInt()).ToString("0.00"))%</td>
                                            <td>@(item.amount_sum.ToInt()<=0?"0":(item.old_amount_sum.ToDouble()*100/item.amount_sum.ToInt()).ToString("0.00"))%</td>
                                        </tr>

                                        if (color_week == "#D9E1F2")
                                        {
                                            color_week = "#B4C6E7";
                                        }
                                        else
                                        {
                                            color_week = "#D9E1F2";
                                        }
                                    }
                                }

                                <tr style="background-color: @color_week">
                                    <td>合计 @list.Count 人</td>
                                    <td>@list_sum[0]</td>
                                    <td>@list_sum[2]</td>
                                    <td>@list_sum[3]</td>
                                    <td>@list_sum[1]</td>
                                    <td>@(list_sum[0].ToNullableString() == "0" || list_sum[0].ToNullableString().IsNullOrEmpty() ? "0":(list_sum[1].ToDouble()*100/ list_sum[0].ToInt()).ToString("0.00"))%</td>
                                    <td>@list_sum[4]</td>
                                    <td>@(list_sum[0].ToNullableString() == "0" || list_sum[0].ToNullableString().IsNullOrEmpty() ? "0":(list_sum[3].ToDouble()*100/ list_sum[0].ToInt()).ToString("0.00"))%</td>
                                    <td>@list_sum[5]</td>
                                    <td>@list_sum[6]</td>
                                    <td>@list_sum[7]</td>
                                    <td>@(list_sum[7].ToNullableString() == "0" || list_sum[7].ToNullableString().IsNullOrEmpty() ? "0":(list_sum[4].ToDouble()*100/ list_sum[7].ToInt()).ToString("0.00"))%</td>
                                    <td>@(list_sum[7].ToNullableString() == "0" || list_sum[7].ToNullableString().IsNullOrEmpty() ? "0":(list_sum[5].ToDouble()*100/ list_sum[7].ToInt()).ToString("0.00"))%</td>
                                </tr>

                            </table>

                        </div>
                        Monday = Monday.AddDays(-7);
                    }
                }

            </div>
        </div>
    </div>

    



</div>


@ViewModelBag.Load(Html, new ModelBasic.AdjScreenshot("screenshot")
{
    elem = "table0"
})
<script src="~/Assets/js/layui.js"></script>
<script type="text/javascript" src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/layui.2.5.6.js"></script>
<script type="text/javascript" src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/jquery/jquery.js"></script>
<script src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/layui/common.2.0.js"></script>

<script>

    //设置时间筛选的数据格式
    layui.use(['form', 'laydate'], function () {
        var form = layui.form;
        var laydate = layui.laydate;

        //日期时间段选择
        laydate.render({
            elem: '#dateRange'
            , range: '~'
        });
    });

    //卡片面板切换
    layui.use(function () {
        var element = layui.element;

        // hash 地址定位
        var hashName = 'tabid'; // hash 名称
        var layid = location.hash.replace(new RegExp('^#' + hashName + '='), ''); // 获取 lay-id 值

        // 初始切换
        element.tabChange('test-hash', layid);
        // 切换事件
        element.on('tab(test-hash)', function (obj) {
            location.hash = hashName + '=' + this.getAttribute('lay-id');
        });
    });

    
</script>
@functions{
    /// <summary>
    /// 判断是否为当前档期首行
    /// </summary>
    /// <param name="p_jixiao_session"></param>
    /// <param name="session"></param>
    /// <param name="color"></param>
    /// <returns></returns>
    public bool isFirstRow(ModelDb.p_jixiao_day_session p_jixiao_session, ref int? session, ref string color)
    {
        if (p_jixiao_session.session != session)
        {
            switch (color)
            {
                case "#E3F2D9":
                    color = "#FADADE";
                    break;
                case "#FADADE":
                    color = "#E3F2D9";
                    break;
                default:
                    break;
            }
            session = p_jixiao_session.session;
            return true;
        }
        else
        {
            return false;
        }
    }
}