@using System;
@using System.Data;
@using WeiCode.Utility;
@using WeiCode.DataBase;
@using WeiCode.Services;
@using WeiCode.ModelDbs;
@using WeiCode.Domain;
@using Services.Project;
@using WeiCode.Models;

@model Services.Project.PageFactory.TableVO

<!-- 页面通用母版 -->
@{
    Layout = ModelBasic.PageModel.GetLayout();
}
<style>
    .layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r,
    .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main,
    .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
        border-color: gray;
    }

    .layui-table th {
        text-align: center;
        font-weight: 700;
        font-size: 13px;
    }

    .layui-table td {
        font-size: 13px;
    }

    th, td {
        white-space: nowrap;
    }
</style>
<!-- 以下书写自己的页面内容代码 -->
<form id="mainForm" class="layui-form" action="DayTarget">
    <div class="layui-row">
        <div class="layui-col-md8">

        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md12">
            <table class="layui-table" style="text-align:center;width:2000px;" id="table1" name="table1">
                <colgroup>
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">

                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">

                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">

                </colgroup>
                <thead>
                    <tr>
                        <th colspan="17" style="text-align: center; background-color: #FFF3CA; font-size: 18px; font-weight: 700 ">团队课表</th>
                    </tr>

                    <tr>
                        <th rowspan="3" style="background-color:#FFF2CC">开始时间</th>
                        <th rowspan="3" style="background-color:#FFF2CC">厅管</th>
                        <th rowspan="3" style="background-color:#FFF2CC">厅名</th>
                        <th colspan="2" style="background-color:#FFF2CC">0.5阶段预计时间</th>
                        <th colspan="2" style="background-color:#FFE9E8">1.0阶段预计时间</th>
                        <th colspan="2" style="background-color:#FDEBFF">2.0阶段预计时间</th>
                        <th colspan="2" style="background-color:#E5F6FF">3.0阶段预计时间</th>
                        <th colspan="2" style="background-color:#FFE9E8">4.0阶段预计时间</th>
                        <th colspan="2" style="background-color:#E5F6FF">5.0阶段预计时间</th>
                        <th colspan="2" style="background-color:#FFE9E8">6.0阶段预计时间</th>
                    </tr>

                    <tr>
                        <th colspan="2" style="background-color:#FFF2CC">流量阶段/熟悉情景拉新阶段</th>
                        <th colspan="2" style="background-color:#FFE9E8">全员破蛋（每档每人1个拉新）</th>
                        <th colspan="2" style="background-color:#FDEBFF">拉齐拉新（每档每人2个拉新）</th>
                        <th colspan="2" style="background-color:#E5F6FF">拉齐二消建联（二消30% 建联50%）</th>
                        <th colspan="2" style="background-color:#FFE9E8">数据达标并拉齐PK</th>
                        <th colspan="2" style="background-color:#E5F6FF">数据达标并日流水4000元以上 补人拓档</th>
                        <th colspan="2" style="background-color:#FFE9E8">月流水15万以上，数据对齐，待分裂</th>
                    </tr>

                    <tr>
                        <th style="background-color:#FFF2CC">完成进度</th>
                        <th style="background-color:#FFF2CC">周期时间</th>
                        <th style="background-color:#FFE9E8">完成进度</th>
                        <th style="background-color:#FFE9E8">周期时间</th>
                        <th style="background-color:#FDEBFF">完成进度</th>
                        <th style="background-color:#FDEBFF">周期时间</th>
                        <th style="background-color:#E5F6FF">完成进度</th>
                        <th style="background-color:#E5F6FF">周期时间</th>
                        <th style="background-color:#FFE9E8">完成进度</th>
                        <th style="background-color:#FFE9E8">周期时间</th>
                        <th style="background-color:#E5F6FF">完成进度</th>
                        <th style="background-color:#E5F6FF">周期时间</th>
                        <th style="background-color:#FFE9E8">完成进度</th>
                        <th style="background-color:#FFE9E8">周期时间</th>
                    </tr>
                </thead>

                @{


                    var jiezou_item = DoMySql.FindList<ModelDb.jiezou_item>($"jiezou_sn='{ViewBag.jiezou_sn}' and tg_user_sn in{new DomainUserBasic.UserRelationApp().GetNextAllUsersForSql(ModelEnum.UserRelationTypeEnum.运营邀厅管, ViewBag.yy_user_sn)} and status=0 order by tg_user_sn");
                    int sort = 0;
                    foreach (var item in jiezou_item)
                    {
                        sort++;
                        var tg = DoMySql.FindEntity<ModelDb.user_base>($"user_sn='{item.tg_user_sn}'");
                                <tr>
                                    <td style="background-color:#EAFAF1" data-name="@($"start_date_{sort}")" data-id="@item.id" data-type="date" data-value="@item.start_date">
                                        @(item.start_date.IsNullOrEmpty() ? "" : item.start_date.ToDate().ToString("yyyy-MM-dd"))
                                    </td>
                                    <td style="background-color:#EAFAF1">@(tg.name)</td>
                                    <td style="background-color:#EAFAF1">@(tg.username)</td>
                                    <td colspan="2" class="EditAble" style="background-color:#FFF2CC" data-progress="@(item.progress_1)" data-plan="@(item.time_plan_1)" data-id="@item.id" data-step="1">@(item.progress_1.IsNullOrEmpty()?"-": GetProgress(item.progress_1))       @(item.time_plan_1.IsNullOrEmpty() ? "-" : item.time_plan_1.ToDate().ToString("yyyy-MM-dd"))</td>

                                    <td colspan="2" class="EditAble" style="background-color:#FFE9E8" data-progress="@(item.progress_2)" data-plan="@(item.time_plan_2)" data-id="@item.id" data-step="2">@(item.progress_2.IsNullOrEmpty()?"-": GetProgress(item.progress_2))       @(item.time_plan_2.IsNullOrEmpty() ? "-" : item.time_plan_2.ToDate().ToString("yyyy-MM-dd"))</td>

                                    <td colspan="2" class="EditAble" style="background-color:#FDEBFF" data-progress="@(item.progress_3)" data-plan="@(item.time_plan_3)" data-id="@item.id" data-step="3">@(item.progress_3.IsNullOrEmpty()?"-": GetProgress(item.progress_3))       @(item.time_plan_3.IsNullOrEmpty() ? "-" : item.time_plan_3.ToDate().ToString("yyyy-MM-dd"))</td>

                                    <td colspan="2" class="EditAble" style="background-color:#E5F6FF" data-progress="@(item.progress_4)" data-plan="@(item.time_plan_4)" data-id="@item.id" data-step="4">@(item.progress_4.IsNullOrEmpty()?"-": GetProgress(item.progress_4))       @(item.time_plan_4.IsNullOrEmpty() ? "-" : item.time_plan_4.ToDate().ToString("yyyy-MM-dd"))</td>

                                    <td colspan="2" class="EditAble" style="background-color:#FFE9E8" data-progress="@(item.progress_5)" data-plan="@(item.time_plan_5)" data-id="@item.id" data-step="5">@(item.progress_5.IsNullOrEmpty()?"-": GetProgress(item.progress_5))       @(item.time_plan_5.IsNullOrEmpty() ? "-" : item.time_plan_5.ToDate().ToString("yyyy-MM-dd"))</td>
                                    
                                    <td colspan="2" class="EditAble" style="background-color:#E5F6FF" data-progress="@(item.progress_6)" data-plan="@(item.time_plan_6)" data-id="@item.id" data-step="6">@(item.progress_6.IsNullOrEmpty()?"-": GetProgress(item.progress_6))       @(item.time_plan_6.IsNullOrEmpty() ? "-" : item.time_plan_6.ToDate().ToString("yyyy-MM-dd"))</td>

                                    <td colspan="2" class="EditAble" style="background-color:#FFE9E8" data-progress="@(item.progress_7)" data-plan="@(item.time_plan_7)" data-id="@item.id" data-step="7">@(item.progress_7.IsNullOrEmpty()?"-": GetProgress(item.progress_7))       @(item.time_plan_7.IsNullOrEmpty() ? "-" : item.time_plan_7.ToDate().ToString("yyyy-MM-dd"))</td>

                                </tr>
                    }

                    if (jiezou_item.Count == 0)
                    {
                        <tr>
                            <td colspan="17" style="text-align: center;">当前尚未创建节奏跟进表</td>
                        </tr>
                    }
                    else
                    {
                        <tr style="background-color: #FFF3CA">
                            <td rowspan="2">合计</td>
                            <td colspan="2">厅数</td>
                            <td colspan="2">0.5阶段完成厅数</td>
                            <td colspan="2">1.0阶段完成厅数</td>
                            <td colspan="2">2.0阶段完成厅数</td>
                            <td colspan="2">3.0阶段完成厅数</td>
                            <td colspan="2">4.0阶段完成厅数</td>
                            <td colspan="2">5.0阶段完成厅数</td>
                            <td colspan="2">6.0阶段完成厅数</td>
                        </tr>
                        <tr style="background-color: #FFF3CA">
                            <td colspan="2">@jiezou_item.Count</td>
                            <td colspan="2">@jiezou_item.Count(x => x.progress_1 == 2)</td>
                            <td colspan="2">@jiezou_item.Count(x => x.progress_2 == 2)</td>
                            <td colspan="2">@jiezou_item.Count(x => x.progress_3 == 2)</td>
                            <td colspan="2">@jiezou_item.Count(x => x.progress_4 == 2)</td>
                            <td colspan="2">@jiezou_item.Count(x => x.progress_5 == 2)</td>
                            <td colspan="2">@jiezou_item.Count(x => x.progress_6 == 2)</td>
                            <td colspan="2">@jiezou_item.Count(x => x.progress_7 == 2)</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</form>


<script>
    layui.use('form', function () {
        var form = layui.form;
        var layer = layui.layer;


    });

</script>

@functions{
    /// <summary>
    /// 判断是否为当前档期首行
    /// </summary>
    /// <param name="p_jixiao_session"></param>
    /// <param name="session"></param>
    /// <param name="color"></param>
    /// <returns></returns>
    public bool isFirstRow()
    {
        return false;
    }

    public double getRate(double? A, double? B)
    {
        if (B == null || B == 0)
        {
            return 0;
        }
        else
        {
            return Math.Round((A * 100 / B).ToDouble(), 0);
        }
    }

    public string GetProgress(sbyte? value)
    {
        if (value == 1)
        {
            return ModelDb.jiezou_item.progress_1_enum.进行中.ToString();
        }
        if (value == 2)
        {
            return ModelDb.jiezou_item.progress_1_enum.已完成.ToString();
        }
        return "";
    }
}
