@using System;
@using System.Data;
@using WeiCode.Utility;
@using WeiCode.DataBase;
@using WeiCode.Services;
@using WeiCode.ModelDbs;
@using WeiCode.Domain;
@using Services.Project;
@using WeiCode.Models;

@model Services.Project.PageFactory.TableVO

<!-- 页面通用母版 -->
@{
    Layout = ModelBasic.PageModel.GetLayout();
}
<style>
    .layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r,
    .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main,
    .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
        border-color: gray;
    }

    .layui-table th {
        text-align: center;
        font-weight: 700;
        font-size: 13px;
    }

    .layui-table td {
        font-size: 13px;
    }

    th, td {
        white-space: nowrap;
    }
</style>

<div class="layui-input-inline">
    <label class="layui-form-label">日期</label>
</div>
<div class="layui-inline">
    <div class="layui-input-inline">
        @ViewModelBag.Load(Html, new ModelBasic.EmtTimeSelect("c_date", true)
        {
            title = "日期",
            defaultValue = ViewBag.c_date,
            mold = ModelBasic.EmtTimeSelect.Mold.date_range,
            eventJsChange = new EmtFormBase.EventJsChange
            {
                eventJavascript = new EventJavascript
                {
                    code = $"window.location.href = '/DataAnalysis/TgRank/LineChart?c_date=' + page.c_date.value + '&ting_sn={ViewBag.ting_sn}&type={ViewBag.type}';"
                },
            }
        })
    </div>
</div>

<div id="main_line" style="width: 100%;height:400px;"></div>

<script src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/other/echarts.min.4.3.0.js"></script>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main_line'));

    // 指定图表的配置项和数据
    var dateArray = @Html.Raw(Json.Encode(ViewBag.dateArray));

    var newNumList = @Html.Raw(Json.Encode(ViewBag.newNumList));
    var newNumAvgList = @Html.Raw(Json.Encode(ViewBag.newNumAvgList));

    var num2List = @Html.Raw(Json.Encode(ViewBag.num2List));
    var num2AvgList = @Html.Raw(Json.Encode(ViewBag.num2AvgList));

    var amount2List = @Html.Raw(Json.Encode(ViewBag.amount2List));
    var zbAmount2AvgList = @Html.Raw(Json.Encode(ViewBag.zbAmount2AvgList));
    var yhAmount2AvgList = @Html.Raw(Json.Encode(ViewBag.yhAmount2AvgList));

    var contactNumList = @Html.Raw(Json.Encode(ViewBag.contactNumList));
    var contactAvgList = @Html.Raw(Json.Encode(ViewBag.contactAvgList));

    var username = @Html.Raw(Json.Encode(ViewBag.username));
    var type = @Html.Raw(Json.Encode(ViewBag.type));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: username,
            left: '50%',
            top: '20px',
            textAlign: 'center'
        },
        tooltip: {},
        legend: {
            data: ['总拉新', '主播平均拉新个数', '总二消个数', '主播平均二消个数', '总二消音浪', '主播平均二消音浪', '用户平均二消音浪', '总建联', '主播平均建联数'],
            selected: {
                '总拉新': type == "newNum" ? true : false,
                '主播平均拉新个数': type == "newNum" ? true : false,
                '总二消个数': type == "num2" ? true : false,
                '主播平均二消个数': type == "num2" ? true : false,
                '总二消音浪': type == "amount2" ? true : false,
                '主播平均二消音浪': type == "amount2" ? true : false,
                '用户平均二消音浪': type == "amount2" ? true : false,
                '总建联': type == "contactNum" ? true : false,
                '主播平均建联数': type == "contactNum" ? true : false
            }
        },
        xAxis: {
            data: dateArray
        },
        yAxis: {
        },
        series: [
            {
                name: '总拉新',
                type: 'line',
                data: newNumList
            }, {
                name: '主播平均拉新个数',
                type: 'line',
                data: newNumAvgList
            }, {
                name: '总二消个数',
                type: 'line',
                data: num2List
            }, {
                name: '主播平均二消个数',
                type: 'line',
                data: num2AvgList
            }, {
                name: '总二消音浪',
                type: 'line',
                data: amount2List
            }, {
                name: '主播平均二消音浪',
                type: 'line',
                data: zbAmount2AvgList
            }, {
                name: '用户平均二消音浪',
                type: 'line',
                data: yhAmount2AvgList
            }, {
                name: '总建联',
                type: 'line',
                data: contactNumList
            }, {
                name: '主播平均建联数',
                type: 'line',
                data: contactAvgList
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>