@using System;
@using System.Data;
@using WeiCode.Utility;
@using WeiCode.DataBase;
@using WeiCode.Services;
@using WeiCode.ModelDbs;
@using WeiCode.Domain;
@using Services.Project;
@using WeiCode.Models;

<!-- 页面通用母版 -->
@{
    Layout = ModelBasic.PageModel.GetLayout();
}
<style>
    .layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r,
    .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main,
    .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
        border-color: gray;
    }

    .layui-table th {
        text-align: center;
        font-weight: 700;
        font-size: 13px;
    }

    .layui-table td {
        font-size: 13px;
    }

    th, td {
        white-space: nowrap;
    }
    /* 表头固定样式 */
    .layui-table {
        position: relative;
    }

        .layui-table thead {
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: white;
        }

            .layui-table thead tr:first-child {
                position: sticky;
                top: 0;
                z-index: 11;
                background-color: #FFF3CA;
            }

            .layui-table thead tr:nth-child(2) {
                position: sticky;
                top: 28px; /* 第一行表头的高度 */
                z-index: 11;
                background-color: #FCE4D3;
            }

            /* 确保表头有足够的背景色 */
            .layui-table thead th {
                background-color: inherit;
            }
</style>

<div class="layui-input-inline">
    <label class="layui-form-label">日期</label>
</div>
<div class="layui-inline">
    <div class="layui-input-inline">
        @ViewModelBag.Load(Html, new ModelBasic.EmtTimeSelect("c_date")
        {
            title = "日期",
            defaultValue = ViewBag.c_date,
            mold = ModelBasic.EmtTimeSelect.Mold.date,
            eventJsChange = new EmtFormBase.EventJsChange
            {
                eventJavascript = new EventJavascript
                {
                    code = $"window.location.href = '/jiezou/zhubojiezou/item_zhubo?c_date=' + page.c_date.value + '&ting_sn={ViewBag.ting_sn}';"
                },
            }
        })
    </div>
</div>
<a href="/jiezou/zhubojiezou/item_zhubo?c_date=@ViewBag.c_date_early&ting_sn=@ViewBag.ting_sn" class="layui-btn">前一天</a>
<a href="/jiezou/zhubojiezou/item_zhubo?c_date=@ViewBag.c_date_late&ting_sn=@ViewBag.ting_sn" class="layui-btn">后一天</a>
<div class="layui-input-inline">
    <label class="layui-form-label">直播厅</label>
</div>
<div class="layui-inline">
    <div class="layui-input-inline">

        @ViewModelBag.Load(Html, new ModelBasic.EmtExt.XmSelect("ting_sn")
        {
            width = "300px",
            title = "直播厅",
            placeholder = "请选择直播厅",
            options = new ServiceFactory.UserInfo.Tg().GetTreeOptionDic(new UserIdentityBag().user_sn),
            defaultValue = ViewBag.ting_sn,
        })
    </div>
</div>
<a href="javascript:search();" class="layui-btn">查询</a>
<form id="mainForm" class="layui-form" action="">

    <div class="layui-row">
        <div class="layui-col-md12">
            <table class="layui-table" style="text-align:center;width:100%;" id="table1" name="table1">
                <colgroup>
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="5" style="text-align: center; background-color: #FFF3CA; font-size: 18px; font-weight: 700 ">
                            节奏展示
                            <a style="color:blue;font-size:17px;" href="javascript:win_pop_iframe('阶段规则说明', '/jiezou/zhubojiezou/RuleDefinition_zhubo', 800,800);">阶段规则说明</a>
                        </th>
                    </tr>
                    <tr>
                        <th style="background-color:#FFF2CC">开始时间</th>
                        <th style="background-color:#FFF2CC">厅名</th>
                        <th style="background-color:#FFF2CC">主播</th>
                        <th style="background-color:#FFF2CC">当前阶段</span></th>
                        <th style="background-color:#FFF2CC ">节奏展示</th>
                    </tr>
                </thead>

                @{
                    List<ServiceFactory.JiezouZhuboResult> tableList = ViewBag.tableList;
                    foreach (var item in tableList)
                    {
                        <tr>

                            <td style="background-color:#EAFAF1">@(item.data_time)</td>
                            <td style="background-color:#EAFAF1">@(item.ting_name)</td>
                            <td style="background-color:#EAFAF1">@(item.name)</td>
                            <td style="background-color:#EAFAF1">@(item.step)</td>
                            <td style="background-color:#EAFAF1">
                                <div style="text-align:center;">
                                    <a href="javascript:List('@item.zb_user_sn');" class="layui-btn layui-btn-xs layui-bg-blue">查看历史节奏</a>
                                </div>
                            </td>
                        </tr>
                    }
                    <tr>
                        <th colspan="4" style="background-color:#FFE9E8">当日达标数</th>
                        <th style="background-color:#FFE9E8 ">@(ViewBag.dbsToday)</th>
                    </tr>
                    <tr>
                        <th colspan="4" style="background-color:#FFE9E8">当日未达标数</th>
                        <th style="background-color:#FFE9E8 ">@(ViewBag.wdbsToday)</th>                      
                    </tr>
                    <tr>
                        <th colspan="4" style="background-color:#FFE9E8">当日主播总数</th>
                        <th style="background-color:#FFE9E8 ">@(ViewBag.zts)</th>
                    </tr>
                    <tr>
                        <th colspan="4" style="background-color:#FFE9E8">当日达标率</th>
                        <th style="background-color:#FFE9E8 ">@(ViewBag.dblToday)%</th>
                    </tr>
                }
            </table>

        </div>
    </div>
</form>

<script>
    function List(zb_user_sn) {
        win_pop_iframe('节奏展示', '/jiezou/zhubojiezou/Detail?zb_user_sn=' + zb_user_sn, window.innerWidth * 0.8, window.innerHeight * 0.8);
    }
    function search() {
        window.location.href = '/jiezou/zhubojiezou/item_zhubo?c_date=' + $("[name='c_date']").val() + '&ting_sn=' + $("[name='ting_sn']").val();
    }
</script>